body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  background-color: #f4f4f9;
}

.container {
  width: 60%;
  max-width: 500px;
  padding: 30px;
  margin: 160px auto;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.container h2 {
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-bottom: 20px;
}

.container p {
  font-size: 20px;
  color: #555;
}

.container p strong {
  font-weight: bold;
  font-size: 20px;
  color: #333;
}

.error-message {
  color: red;
  font-size: 16px;
}

select {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  font-size: 16px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:hover,
select:focus {
  border-color: #80aacf;
}

/* Button styling */
button {
  width: 100%;
  max-width: 500px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:first-of-type {
  background-color: #28a745; /* Green for assign button */
}

button:first-of-type:hover {
  background-color: #218838;
}

button:last-of-type {
  background-color: #007bff; /* Blue for update button */
}

button:last-of-type:hover {
  background-color: #0056b3;
}

/* Label styling */
label {
  font-weight: bold;
  color: #333;
  margin-top: 15px;
  display: block;
}
