.registration-container,
.container {
  font-family: Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  padding: 30px;

}

.container {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(235, 232, 232);
  border-radius: 8px;
  padding: 20px;
}

h2 {
  text-align: center;
  color: #007bff;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  margin-top: 5px;
  font-size: 16px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  background-color: #007bff;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  background-color: #80aacf;
  color: black;
}

a {
  text-decoration: none;
  color: #007bff;
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;

}

a:hover {
  text-decoration: underline;
}


.success-message {
  color: #28a745;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
  padding: 5px;
}
